/ {
    aliases {
        blink-led = &led0;
    };

    leds {
        compatible = "gpio-leds";
        led0: d13 {
            gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
			label = "BLINK_LED";
        };
    };
};