/ {
    aliases {
        blink-led = &green_led_2;
    };

    leds {
        compatible = "gpio-leds";
        green_led_2: led_2 {
            gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
			label = "User LD2";
        };
    };
};